<!DOCTYPE html>
<html>
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel='stylesheet' href='/main.css'>
  <!-- JS & jquery just in case -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/main.js"></script>

  <title>Calendar <%= thisMonth %> <%= thisYear %></title>
</head>
<body class='body' data-month='<%= thisMonth %>' data-year='<%= thisYear %>'>
  <!-- events table -->
  <div class='events-table-wrapper'>
    <div class='row'>
      <div class="col-md-1"></div>
      <div class='col-md-7 events-table-cell month-name'>
        <div class='events-date'></div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class='row events-table'>
      <div class="col-md-1"></div>
      <div class="col-md-1 events-table-cell">Start</div>
      <div class="col-md-1 events-table-cell">End</div>
      <div class="col-md-1 events-table-cell">Priority</div>
      <div class="col-md-2 events-table-cell">Description</div>
      <div class="col-md-2 events-table-cell"></div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!-- form row -->
  <div class='row events'>
    <div class="col-md-1"></div>
    <div class="col-md-7 stuff">
      <!-- date -->
      <div class='events-date'></div>
      <div class="form-group time-form">
        <label for="time-start">Time Start</label>
        <select class="form-control hour-start" id="hour-start">
          <% for(var h = 0; h < 24; h++){ %>
            <option value=<%= h %>><%= h %></option>
          <% } %>
        </select>
        :
        <select class="form-control min-start" id="min-start">
          <% for(var h = 0; h < 60; h++){ %>
            <option value=<%= h %>><% if(h < 10) {%>0<% } %><%= h %></option>
          <% } %>
        </select>
        <label for="time-end">Time End</label>
        <select class="form-control hour-end" id="hour-end">
          <% for(var h = 0; h < 24; h++){ %>
            <option value=<%= h %>><%= h %></option>
          <% } %>
        </select>
        :
        <select class="form-control min-end" id="min-end">
          <% for(var h = 0; h < 60; h++){ %>
            <option value=<%= h %>><% if(h < 10) {%>0<% } %><%= h %></option>
          <% } %>
        </select>
      </div>
      <!-- priority buttons -->
      <div class='priority-buttons'>
        <button class='btn btn-success disabled priority' data-priority=0 id='low'>Low</button>
        <button class='btn btn-warning priority' data-priority=1 id='medium'>Medium</button>
        <button class='btn btn-danger priority' data-priority=2 id='high'>High</button>
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
      <!-- submit buttons -->
      <div class='submit-buttons'>
        <button class="btn btn-outline-primary" type="submit" onclick='submitNew()'>Submit</button>
        <button class="btn btn-outline-warning" type="submit" onclick='cancelNew()'>Cancel</button>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- month -->
  <div class='calendar-wrapper'>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 month-name">
      <div class='cal-month'>
        <div class='month-chooser-wrap'>
          <select class='form-control month-chooser' id='month-change' >>
          <% months=['January','February', 'March', 'April', 'May', 'June', 'July', 'August','September','October','November','December'] %>
          <% for(var m = 0; m < months.length; m++) { %>
            <option value=<%= months[m] %><% if(thisMonth == months[m]) { %> selected <% } %>><%= months[m] %></option>
          <% } %>
          </select>
        </div>
        <div class='month-text' onclick='showChooser()'>
          <%= thisMonth %>
        </div>
      </div>
      <div class='cal-year'>
        <div class='year-chooser-wrap'>
          <select class='form-control year-chooser' id='year-change' >>
          <% for(var y = thisYear-5; y < thisYear+5; y++) { %>
            <option value=<%= y %> <% if(thisYear == y) { %> selected <% } %>> <%= y%> </option>
          <% } %>
          </select>
        </div>
        <div class='year-text' onclick='showChooser()'>
          <%= thisYear %>
        </div>
      </div>
      <div class='cal-button-chooser'>
        <button class='btn btn-primary' onclick='changeCal()'>Go</button>
        <button class='btn btn-info' onclick='showChooser(false)'>Cancel</button>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- Name of days -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1 day">
      <span class='mobile-name'>S</span>
      <span class='tablet-name'>Sun</span>
      <span class='desktop-name'>Sunday</span>
    </div>
    <div class="col-md-1 day">
      <span class='mobile-name'>M</span>
      <span class='tablet-name'>Mon</span>
      <span class='desktop-name'>Monday</span>
    </div>
    <div class="col-md-1 day">
      <span class='mobile-name'>T</span>
      <span class='tablet-name'>Tue</span>
      <span class='desktop-name'>Tuesday</span>
    </div>
    <div class="col-md-1 day">
      <span class='mobile-name'>W</span>
      <span class='tablet-name'>Wed</span>
      <span class='desktop-name'>Wednesday</span></div>
    <div class="col-md-1 day">
      <span class='mobile-name'>T</span>
      <span class='tablet-name'>Thu</span>
      <span class='desktop-name'>Thursday</span>
    </div>
    <div class="col-md-1 day">
      <span class='mobile-name'>F</span>
      <span class='tablet-name'>Fri</span>
      <span class='desktop-name'>Friday</span>
    </div>
    <div class="col-md-1 day">
      <span class='mobile-name'>S</span>
      <span class='tablet-name'>Sat</span>
      <span class='desktop-name'>Saturday</span>
    </div>
    <div class="col-md-1"></div>
  </div>

  <% dateStarted = false %>
  <% dayNumber = 1 %>
  <% if(date_name_start == 6){ totalCell = 54 } else{ totalCell = 45} %>
  <% for(total=0; total < totalCell; total++){%>
    <% if(total%9 == 0){ %>
      <div class="row">
      <div class="col-md-1"></div>
    <!-- sunday --->
    <% }else if(total%9 == 1){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 0){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- monday --->
    <% }else if(total%9 == 2){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 1){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- tuesday --->
    <% }else if(total%9 == 3){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 2){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- wednesday --->
    <% }else if(total%9 == 4){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 3){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- thursday --->
    <% }else if(total%9 == 5){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 4){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- friday --->
    <% }else if(total%9 == 6){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 5){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <!-- saturday --->
    <% }else if(total%9 == 7){ %>
      <div class="col-md-1 date">
        <% if(date_name_start == 6){ %>
          <% dateStarted = true %>
        <% } %>
        <% if(dateStarted  && dayNumber < date_end+1){ %>
          <div class='day-number' data-day='<%= dayNumber %>'>
            <%= dayNumber++ %>
          </div>
          <div class='priority-bars'>
            <span class='low-bar'></span>
            <span class='medium-bar'></span>
            <span class='high-bar'></span>
          </div>
        <% } %>
      </div>
    <% }else if(total%9 == 8){ %>
      <div class="col-md-1"></div>
      </div>
    <% } %>
  <% } %>
</div>
  <!-- ummm this is all the events (i should maybe store it somewhere else) maybe i should request it when viewing the day and here just request the priorities, and days, then delete year and month cause that is repetetive -->
  <!-- also some data is being repeated like month and year, that should be known or assumed -->
  <div class='data-events'>
    <% priorities = {"0": "low", "1": "medium", "2": "high"}%>
    <% for(var d=0; d < events.length; d++){ %>
      <div class='single-event'
        data-id=<%= events[d]['id'] %>
        data-eventyear=<%= events[d]['year'] %>
        data-month=<%= events[d]['month'] %>
        data-eventday=<%= events[d]['day'] %>
        data-hourstart=<%= events[d]['hourstart'] %>
        data-minstart=<%= events[d]['minstart'] %>
        data-hourend=<%= events[d]['hourend'] %>
        data-minend=<%= events[d]['minend'] %>
        data-priority=<%= priorities[events[d]['priority']] %>
        data-description="<%= events[d]['description'] %>"
        >
      </div>
    <% } %>
  </div>
</body>
</html>
